@import "var"
.breadcrumb
    background-color: #ffffff
    .breadcrumb-item, a
        margin-left: 10px

.breadcrumb-item + .breadcrumb-item::before
    display: inline-block
    padding-right: 0.5rem
    color: #6c757d
    content: "*"
.admin-paginate
    font-size: 14px
    margin-top: 20px
    margin-left: 50px
    svg
        width: 15px !important
.form-group label
    color: #616161
    font-weight: 500 !important
.admin__thumbnail
    width: 50px
.ck-editor__editable_inline
    min-height: 300px !important
.description-editor
    min-height: 100px !important

.admin__img-head
    width: 150px
    display: block
    margin: 0 auto 10px





// CUSTOM USER STYLES & IMPORTS

