@import "var"
.breadcrumb
    background-color: #ffffff
    .breadcrumb-item
        margin-left: 15px

.breadcrumb-item + .breadcrumb-item::before
    display: inline-block
    padding-right: 0.5rem
    color: #6c757d
    content: "*"











// CUSTOM USER STYLES & IMPORTS

